.header {
  z-index: 2;
}

.main {
  z-index: 0;
}

body {
  &::after {
    z-index: 100;
  }
}

.side-nav {
  z-index: 200;
}

.dialog-view {
  z-index: 250;
}

.toast-view {
  z-index: 300;
}

.loader {
  z-index: 400;
}
