.expando {
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  will-change: transform;
  color: $text-dark;
  outline: none;
}

.expando-expanded {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
              0 3px 1px -2px rgba(0, 0, 0, .2),
              0 1px 5px 0 rgba(0, 0, 0, .12);
}

.expando__inner {
  top: 0px;
  right: 0px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  will-change: transform;
}

.expando__inner-inverter {
  will-change: transform;
}

.expando__btn {
  width: $header-height;
  height: $header-height;
  opacity: 0.54;
  position: absolute;
  top: 0;
  right: 0;
  background: url('/images/ic_options_24px.svg') center center no-repeat;
  border: none;
  outline: none;
  pointer-events: auto;
  cursor: pointer;
  will-change: transform;
  transition:
      transform 0.1s cubic-bezier(0, 0, 0.31, 1),
      opacity .333s cubic-bezier(0, 0, .21, 1);

  &:focus,
  &:hover {
    opacity: 1;
  }
}

.expando__content {
  position: absolute;
  right: 0px;
  top: 0px;
  pointer-events: none;
  opacity: 0;
  will-change: transform;
  transition:
      transform 0.3s cubic-bezier(0, 0, 0.31, 1),
      opacity 0.3s cubic-bezier(0, 0, 0.31, 1);
}

.expando__content-list {
  width: 40vw;
  max-width: 200px;
  margin: 0;
  padding: 0;;
  list-style: none;
  overflow: hidden;
}

@media(min-width: $big-screen) {
  .expando__content-list {
    max-width: 300px;
  }
}

li {
  line-height: 1.9;
  padding: 0 20px;
}

li:hover {
  background: #555;
  color: #FFF;
}

.item--expanded {
  animation-name: expandAnimation;
  animation-duration: 0.333s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  background-color: #FFF;
}

.item__contents--expanded {
  animation-name: expandContentsAnimation;
  animation-duration: 0.333s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.item--collapsed {
  animation-name: collapseAnimation;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.item__contents--collapsed {
  animation-name: collapseContentsAnimation;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.item__contents--expanded .expando__content {
  opacity: 1;
  pointer-events: auto;
}

.item__contents--expanded .expando__btn {
  // transform: rotate(180deg);
  opacity: 0;
  pointer-events: none;
}