app-options-menu {
  position: fixed;
  display: none;
  background-color: white;
  top: $header-height;
  right: 0;
  max-width: 200px;
  width: 33vw;
  height: calc(95% - #{$header-height});
  border-radius: 0 0 .3em .3em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
}

app-options-menu[opened] {
  display: block;
}

.options-scrim {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

app-options-menu[opened] .options-scrim {
  display: block;
}

.options-view {
  outline: none;
  position: relative;
  overflow-y: auto;
  height: 100%;
}

.options-btn {
  background: url('/images/ic_options_24px.svg') center center no-repeat;
}