app-options-item {
  font-size: 0.8em;
  outline: none;
  height: 3em;
  width: 100%;
  display: block;
  border: 0;
  color: $text-dark;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

app-options-item:hover {
  background: #555;
  color: #FFF;
}