app-header {
  z-index: 2;
}

app-options-menu {
  z-index: 3;
}

.main {
  z-index: 0;
}

app-sidenav {
  z-index: 200;
}

.dialog-view {
  z-index: 250;
}

app-toast {
  z-index: 300;
}

.loader {
  z-index: 400;
}
