.header {
  z-index: 2;
}

app-options {
  z-index: 3;
}

.main {
  z-index: 0;
}

body {
  &::after {
    z-index: 100;
  }
}

app-sidenav {
  z-index: 200;
}

.dialog-view {
  z-index: 250;
}

.toast-view {
  z-index: 300;
}

.loader {
  z-index: 400;
}
