app-options {
  position: absolute;
  background-color: white;
  top: $header-height;
  right: 10px;
  max-width: 200px;
  width: 33vw;
  height: calc(100vh - #{$header-height});
  border-radius: .3em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  overflow: hidden;
}

.options-view {
  outline: none;
  position: relative;
  overflow-y: auto;
  height: 100%;
}

.options__item {
  font-size: 0.8em;
  outline: none;
  height: 3em;
  width: 100%;
  display: block;
  border: 0;
  color: $text-dark;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.options__item:hover {
  background: #555;
  color: #FFF;
}

.options-btn {
  background: url('/images/ic_options_24px.svg') center center no-repeat;
}