
<app-sidenav></app-sidenav>

<app-toast></app-toast>

{{> loader}}
{{> async-css }}

{{#each data.remoteScripts}}
<script src="{{this}}" async></script>
{{~/each}}

<noscript class="noscript__container">
    <p class='noscript__message'>Please enable JavaScript to use this page!</p>
</noscript>
</body>
</html>
